In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
transactions = pd.read_csv('subset_bakery.csv')
transactions.head()

         date      time  transaction           item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3        Cookies

In [3]:
transactions.shape

(18733, 4)

In [6]:
transactions.groupby(['transaction'],as_index=False)['item']\
    .count()\
    .rename(columns={'item':'count'})\
    .shape

(9065, 2)

In [4]:
transactions.groupby(['transaction'],as_index=False)['item']\
    .count()\
    .rename(columns={'item':'count'})\
    .sort_values(by = "count",ascending = False)\
    .head()

      transaction  count
5905         6279     11
6808         7245      9
5686         6045      9
3569         3799      9
6090         6474      9

In [8]:
transactions.item.nunique()

20

In [9]:
txs = transactions.groupby(['transaction'])['item'].apply(lambda x: np.unique(x))

In [10]:
txs.head()

transaction
1                     [Bread]
2              [Scandinavian]
3    [Cookies, Hot chocolate]
4                    [Muffin]
5     [Bread, Coffee, Pastry]
Name: item, dtype: object

In [11]:
txs_list = txs.values.tolist()

In [15]:
txs_list[:5]

[array(['Bread'], dtype=object),
 array(['Scandinavian'], dtype=object),
 array(['Cookies', 'Hot chocolate'], dtype=object),
 array(['Muffin'], dtype=object),
 array(['Bread', 'Coffee', 'Pastry'], dtype=object)]

In [17]:
from mlxtend.preprocessing import TransactionEncoder

In [18]:
te = TransactionEncoder()
txs_formatted = te.fit(txs_list).transform(txs_list)

In [20]:
txs_formatted.shape

(9065, 20)

In [23]:
txs_formatted[:1]

array([[False,  True, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False]])

In [24]:
df = pd.DataFrame(txs_formatted, columns = te.columns_)
df.head()

,Alfajores,Bread,Brownie,Cake,Coffee,Cookies,Farm House,Hot chocolate,Juice,Medialuna,Muffin,NONE,Pastry,Sandwich,Scandinavian,Scone,Soup,Tea,Toast,Truffles
0,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
4,False,True,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False