In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
np.random.seed(210508)

In [3]:
transactions = pd.read_csv('subset_bakery.csv')
transactions.head()

         date      time  transaction           item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3        Cookies

In [4]:
transactions.shape

(18733, 4)

In [5]:
transactions.groupby(['transaction'],as_index=False)['item']\
    .count()\
    .rename(columns={'item':'count'})\
    .shape

(9065, 2)

In [6]:
transactions.groupby(['transaction'],as_index=False)['item']\
    .count()\
    .rename(columns={'item':'count'})\
    .sort_values(by = "count",ascending = False)\
    .head()

      transaction  count
5905         6279     11
6808         7245      9
5686         6045      9
3569         3799      9
6090         6474      9

In [7]:
transactions.item.nunique()

20

In [8]:
txs = transactions.groupby(['transaction'])['item'].apply(lambda x: np.unique(x))

In [9]:
txs.head()

transaction
1                     [Bread]
2              [Scandinavian]
3    [Cookies, Hot chocolate]
4                    [Muffin]
5     [Bread, Coffee, Pastry]
Name: item, dtype: object

In [10]:
txs_list = txs.values.tolist()

In [11]:
txs_list[:5]

[array(['Bread'], dtype=object),
 array(['Scandinavian'], dtype=object),
 array(['Cookies', 'Hot chocolate'], dtype=object),
 array(['Muffin'], dtype=object),
 array(['Bread', 'Coffee', 'Pastry'], dtype=object)]

In [12]:
from mlxtend.preprocessing import TransactionEncoder

In [13]:
te = TransactionEncoder()
txs_formatted = te.fit(txs_list).transform(txs_list)

In [14]:
txs_formatted.shape

(9065, 20)

In [15]:
txs_formatted[:1]

array([[False,  True, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False]])

In [16]:
df = pd.DataFrame(txs_formatted, columns = te.columns_)
df.head()

,Alfajores,Bread,Brownie,Cake,Coffee,Cookies,Farm House,Hot chocolate,Juice,Medialuna,Muffin,NONE,Pastry,Sandwich,Scandinavian,Scone,Soup,Tea,Toast,Truffles
0,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
4,False,True,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False

In [17]:
from mlxtend.frequent_patterns import apriori

In [32]:
apriori_df = apriori(df, min_support=0.01, use_colnames=True)
apriori_df.sort_values(by = 'support',ascending=False)

     support                 itemsets
4   0.499504                 (Coffee)
1   0.341644                  (Bread)
17  0.148924                    (Tea)
3   0.108439                   (Cake)
24  0.093988          (Coffee, Bread)
12  0.089906                 (Pastry)
11  0.083067                   (NONE)
13  0.075014               (Sandwich)
9   0.064534              (Medialuna)
7   0.060894          (Hot chocolate)
33  0.057143           (Cake, Coffee)
5   0.056812                (Cookies)
46  0.052068            (Coffee, Tea)
42  0.049641         (Pastry, Coffee)
41  0.044236           (NONE, Coffee)
2   0.041809                (Brownie)
6   0.040927             (Farm House)
8   0.040265                  (Juice)
10  0.040154                 (Muffin)
43  0.039934       (Sandwich, Coffee)
0   0.037948              (Alfajores)
39  0.036735      (Coffee, Medialuna)
15  0.036073                  (Scone)
16  0.035962                   (Soup)
18  0.035080                  (Toast)
37  0.030888  (Coffee, Hot chocolate)
29  0.030447          (Pastry, Bread)
14  0.030336           (Scandinavian)
36  0.029454        (Cookies, Coffee)
31  0.029344             (Tea, Bread)
35  0.024821              (Cake, Tea)
47  0.024710          (Toast, Coffee)
23  0.024379            (Cake, Bread)
28  0.021622            (NONE, Bread)
38  0.021511          (Juice, Coffee)
19  0.021180               (Truffles)
21  0.020518      (Coffee, Alfajores)
32  0.020518        (Coffee, Brownie)
40  0.019636         (Coffee, Muffin)
49  0.019195              (NONE, Tea)
44  0.018864          (Coffee, Scone)
30  0.017761        (Sandwich, Bread)
27  0.017650       (Bread, Medialuna)
45  0.016547           (Soup, Coffee)
25  0.015113         (Cookies, Bread)
51  0.015003          (Sandwich, Tea)
26  0.014010   (Bread, Hot chocolate)
34  0.011914    (Cake, Hot chocolate)
53  0.011693  (Coffee, Pastry, Bread)
22  0.011252         (Bread, Brownie)
20  0.010811       (Bread, Alfajores)
52  0.010480    (Cake, Coffee, Bread)
54  0.010480      (Cake, Coffee, Tea)
48  0.010259           (Cookies, Tea)
50  0.010039            (Pastry, Tea)

In [19]:
from mlxtend.frequent_patterns import association_rules

In [33]:
rules_df = association_rules(apriori_df,metric="confidence",min_threshold=0.3)
rules_df.sort_values(by="lift",ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
15,(Toast),(Coffee),0.035080,0.499504,0.024710,0.704403,1.410205,0.007188,1.693169
7,(Medialuna),(Coffee),0.064534,0.499504,0.036735,0.569231,1.139593,0.004500,1.161867
10,(Pastry),(Coffee),0.089906,0.499504,0.049641,0.552147,1.105392,0.004733,1.117547
0,(Alfajores),(Coffee),0.037948,0.499504,0.020518,0.540698,1.082470,0.001563,1.089688
6,(Juice),(Coffee),0.040265,0.499504,0.021511,0.534247,1.069555,0.001399,1.074595
9,(NONE),(Coffee),0.083067,0.499504,0.044236,0.532537,1.066132,0.002744,1.070664
11,(Sandwich),(Coffee),0.075014,0.499504,0.039934,0.532353,1.065764,0.002464,1.070244
3,(Cake),(Coffee),0.108439,0.499504,0.057143,0.526958,1.054964,0.002977,1.058039
12,(Scone),(Coffee),0.036073,0.499504,0.018864,0.522936,1.046911,0.000845,1.049117
4,(Cookies),(Coffee),0.056812,0.499504,0.029454,0.518447,1.037924,0.001076,1.039337
5,(Hot chocolate),(Coffee),0.060894,0.499504,0.030888,0.507246,1.015501,0.000471,1.015713
1,(Pastry),(Bread),0.089906,0.341644,0.030447,0.338650,0.991238,-0.000269,0.995474
2,(Brownie),(Coffee),0.041809,0.499504,0.020518,0.490765,0.982506,-0.000365,0.982840
8,(Muffin),(Coffee),0.040154,0.499504,0.019636,0.489011,0.978994,-0.000421,0.979466
13,(Soup),(Coffee),0.035962,0.499504,0.016547,0.460123,0.921160,-0.001416,0.927056
16,"(Cake, Bread)",(Coffee),0.024379,0.499504,0.010480,0.429864,0.860583,-0.001698,0.877855
18,"(Cake, Tea)",(Coffee),0.024821,0.499504,0.010480,0.422222,0.845284,-0.001918,0.866244
17,"(Pastry, Bread)",(Coffee),0.030447,0.499504,0.011693,0.384058,0.768879,-0.003515,0.812571
14,(Tea),(Coffee),0.148924,0.499504,0.052068,0.349630,0.699954,-0.022320,0.769556